name: openfe
channels:
  - jaimergp/label/unsupported-cudatoolkit-shim
  - conda-forge
  - openeye
dependencies:
  - numpy
  - networkx
  - rdkit
  - pip
  - pytest
  - pytest-xdist
  - pytest-cov
  - pydantic
  - coverage
  - openff-toolkit
  - openff-units>=0.1.6
  - click
  - openeye-toolkits
  - typing-extensions
  - lomap2>=2.1.0
  - openmmtools
  - perses
  - pip:
    - git+https://github.com/OpenFreeEnergy/gufe@main
    - git+https://github.com/openmm/openmmforcefields@main
    - plugcli
