name: openfe_env
channels:
  - conda-forge
dependencies:
  - cinnabar ~=0.4.0
  - click >=8.2.0
  - coverage
  - duecredit<0.10
  - kartograf>=1.0.0
  - konnektor~=0.2.0
  - lomap2>=3.2.1
  - networkx
  - numpy<2.0.0
  - openfe-analysis>=0.3.1
  - openff-interchange
  - openff-models>=0.0.5
  - openff-nagl-base >=0.3.3
  - openff-nagl-models>=0.1.2
  - openff-toolkit>=0.16.2
  - openff-units==0.3.0
  - openmm >=8.2.0
  - openmmforcefields
  - openmmtools >=0.25.0
  - packaging
  - pandas
  - perses>=0.10.3
  - plugcli
  - pint>=0.24.0
  - pip
  - pooch
  - py3dmol
  - pydantic >=1.10.17
  - pygraphviz
  - pytest
  - pytest-xdist
  - pytest-cov
  - pytest-regressions
  - pytest-rerunfailures
  - pyyaml
  - rdkit
  - rich
  - tqdm
  - typing-extensions
  - zstandard
  # Issue #443
  - pymbar>4.0
  # docs
  - autodoc-pydantic<2.0
  - pydata-sphinx-theme
  - sphinx-click
  - sphinx-toolbox
  # Control blas/openmp threads
  - threadpoolctl
  - pip:
    - git+https://github.com/OpenFreeEnergy/gufe@main
