name: openfe_env
channels:
  - jaimergp/label/unsupported-cudatoolkit-shim
  - conda-forge/label/openmmtools_dev
  - conda-forge
dependencies:
  - numpy<1.24
  - networkx
  - rdkit
  - pip
  - pytest
  - pytest-xdist
  - pytest-cov
  - pytest-rerunfailures
  - pydantic
  - coverage
  - openff-toolkit>=0.13.0
  - openff-units>=0.2.0
  - openff-models>=0.0.5
  - click
  - typing-extensions
  - lomap2>=2.3.0
  - openmmtools==0.22.2_dev0
  - openmmforcefields>=0.11.2
  - perses
  - py3dmol
  - plugcli
  - libnetcdf<4.9
  - tqdm
  # Issue #443
  - pymbar<4.0
  # docs
  - autodoc-pydantic
  - pydata-sphinx-theme
  - sphinx-click
  - pip:
    - sphinx-toolbox
    - git+https://github.com/OpenFreeEnergy/gufe@main
