name: openfe_env
channels:
  - conda-forge
dependencies:
  - duecredit<0.10
  - kartograf>=1.0.0
  - lomap2>=3.0.0
  - numpy
  - networkx
  - rdkit
  - packaging
  - pip
  - pytest
  - pytest-xdist
  - pytest-cov
  - pytest-rerunfailures
  - pydantic >=1.10.17
  - pyyaml
  - coverage
  - cinnabar ~=0.4.0
  - openff-toolkit>=0.16.2
  - openff-nagl-base >=0.3.3
  - openff-units==0.2.0
  - pint<0.22
  - openff-models>=0.0.5
  - openfe-analysis>=0.2.0
  - click
  - typing-extensions
  - openmm >=8.0.0,!=8.1.0,<8.2.0
  - openmmtools
  - openmmforcefields
  - perses>=0.10.3
  - pooch
  - py3dmol
  - plugcli
  - tqdm
  - pygraphviz
  - zstandard
  # Issue #443
  - pymbar>4.0
  # docs
  - autodoc-pydantic<2.0
  - pydata-sphinx-theme
  - sphinx-click
  # Control blas/openmp threads
  - threadpoolctl
  - pip:
    - sphinx-toolbox
    - openff-nagl-models>=0.1.2
    - git+https://github.com/OpenFreeEnergy/gufe@v1.2.0
