name: openfe
channels:
  - jaimergp/label/unsupported-cudatoolkit-shim
  - conda-forge
dependencies:
  - numpy<1.24
  - networkx
  - rdkit
  - pip
  - pytest
  - pytest-xdist
  - pytest-cov
  - pydantic
  - coverage
  - openff-toolkit>=0.12.0
  - openff-units>=0.2.0
  - openff-modules>=0.4.0
  - click
  - typing-extensions
  - lomap2>=2.1.0
  - openmmtools
  - openmmforcefields>=0.11.2
  - perses
  - py3dmol
  - plugcli
  - libnetcdf<4.9
  # docs
  - myst-parser
  - sphinx-click
  - pip:
    - autodoc_pydantic
    - git+https://github.com/OpenFreeEnergy/gufe@main
    
