name: openfe
channels:
  - jaimergp/label/unsupported-cudatoolkit-shim
  - conda-forge
dependencies:
  - numpy<1.24
  - networkx
  - rdkit
  - pip
  - pytest
  - pytest-xdist
  - pytest-cov
  - pydantic
  - coverage
  - openff-toolkit>=0.12.0
  - openff-units
  - click
  - typing-extensions
  - lomap2>=2.1.0
  - openmmtools
  - openmmforcefields>=0.11.2
  - perses
  - py3dmol
  - plugcli
  - libnetcdf<4.9
  # docs
  - myst-parser
  - sphinx-click
  # - gufe==0.5
  - pip:
    - git+https://github.com/OpenFreeEnergy/gufe@main
    - git+https://github.com/mikemhenry/openff-models.git@support_nested_models
    
