name: openfe_env
channels:
  - conda-forge
dependencies:
  - cinnabar ~=0.5.0
  - click >=8.2.0
  - coverage
  - dask>=2025  # temporary fix for https://github.com/openforcefield/openff-units/issues/140
  - duecredit<0.10
  - gufe==1.8.0
  - kartograf>=1.2.0
  - konnektor~=0.2.0
  - lomap2>=3.2.1
  - networkx
  - numpy<2.3
  - openfe-analysis>=0.3.1
  - openff-interchange-base
  - openff-nagl-base >=0.3.3
  - openff-nagl-models>=0.1.2
  - openff-toolkit-base >=0.16.2
  - openff-units==0.3.1  # https://github.com/OpenFreeEnergy/openfe/pull/1374
  - openmm ~=8.2.0  # omit 8.3.0 and 8.3.1 due to https://github.com/openmm/openmm/pull/5069, unpin once we've qualified 8.3.2
  - openmmforcefields >=0.15.0  # min needed for https://github.com/OpenFreeEnergy/openfe/pull/1695
  - openmmtools >=0.25.0
  - packaging
  - pandas
  - perses>=0.10.3
  - plugcli
  - pint>=0.24.0
  - pip
  - pooch
  - py3dmol
  - pydantic >= 2.0.0, <2.12.0  # https://github.com/openforcefield/openff-interchange/issues/1346
  - pygraphviz
  - pytest
  - pytest-xdist
  - pytest-cov
  - pytest-regressions
  - pytest-rerunfailures
  - pyyaml
  - rdkit
  - rich
  - tqdm
  - typing-extensions
  - zstandard
  # Issue #443
  - pymbar>4.0
  # docs
  - autodoc-pydantic>=2.0
  - pydata-sphinx-theme
  - sphinx-click
  - sphinx-toolbox
  # Control blas/openmp threads
  - threadpoolctl
