[build-system]
requires = [
	"setuptools>=61.2",
	"versioningit",
]
build-backend = "setuptools.build_meta"

[project]
name = "openfe"
description = ""
readme = "README.md"
long-description-type = "text/markdown"
authors = [{name = "The OpenFE developers", email = "openfe@omsf.io"}]
license = {text = "MIT"}
classifiers = [
    "Development Status :: 1 - Planning",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Operating System :: POSIX",
    "Operating System :: Microsoft :: Windows",
    "Programming Language :: Python :: 3",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
    "Topic :: Scientific/Engineering :: Chemistry",
]
urls = {Homepage = "https://github.com/OpenFreeEnergy/openfe"}
requires-python = ">= 3.9"
dependencies = [
    "numpy",
    "networkx",
    "click",
    "plugcli",
]
dynamic = ["version"]

[project.optional-dependencies]
test = [
    "pytest",
    "pytest-xdist",
]

[project.scripts]
openfe = "openfecli.cli:main"

[tool.setuptools]
zip-safe = false
include-package-data = true
license-files = ["LICENSE"]

[tool.setuptools.packages]
find = {namespaces = false}

[tool.setuptools.package-data]
openfe = ['"./openfe/tests/data/lomap_basic/toluene.mol2"']

[tool.versioneer]
vcs = "git"
style = "pep440-post"
versionfile_source = "openfecli/_version.py"
versionfile_build = "openfecli/_version.py"
tag_prefix = "''"

[tool.mypy]
files = ["openfe"]
ignore_missing_imports = true

[tool.coverage.run]
omit = [
    "*/_version.py",
    "*/tests/dev/*py",
]

[tool.coverage.report]
exclude_lines = [
    'if __name__ == "__main__"',
    "pragma: no cover",
    "pragma: no-cover",
    "-no-cov",
    "raise NotImplementedError",
]

[tool.versioningit]
default-version = "1+unknown"

[tool.versioningit.format]
distance = "{base_version}+{distance}.{vcs}{rev}"
dirty = "{base_version}+{distance}.{vcs}{rev}.dirty"
distance-dirty = "{base_version}+{distance}.{vcs}{rev}.dirty"

[tool.versioningit.vcs]
method = "git" 
match = ["*"]
default-tag = "0.0.0"

[tool.versioningit.write]
file = "openfe/_version.py"
