html {
  --ofe-api-name-color: var(--pst-color-inline-code);
  --ofe-api-property-color: var(--pst-color-text-muted);
  --ofe-api-path-color: var(--pst-color-text-base);
  --ofe-api-bg-color: var(--pst-color-on-background);
  --ofe-api-param-symbol-color: var(--pst-color-text-base);
  --ofe-api-param-name-color: var(--pst-color-text-base);
  --ofe-api-param-value-color: var(--pst-color-text-base);
  --ofe-api-type-color: var(--pst-color-text-base);
  --ofe-api-type-link-color: var(--pst-color-link);
  --ofe-api-source-link-color: var(--pst-color-link);
  --ofe-api-header-font-size: 1.1rem;
  --ofe-api-header-padding: var(--ofe-api-header-font-size);
  --ofe-api-arguments-indent: calc(2 * var(--ofe-api-header-padding));
}

dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] {
  padding-bottom: 0.5em;
  border: 1px solid var(--pst-color-border);
  border-radius: 0.25rem;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > *:not(.property):first-child::before, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .property {
  color: var(--ofe-api-property-color);
  font-size: inherit;
  font-weight: normal;
  font-style: italic;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class].attribute > dt > *:not(.property):first-child::before {
  content: "attribute ";
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class].method > dt > *:not(.property):first-child::before {
  content: "method ";
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class].function > dt > *:not(.property):first-child::before {
  content: "function ";
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt {
  font-family: var(--pst-font-family-monospace);
  font-size: var(--ofe-api-header-font-size);
  padding: var(--ofe-api-header-padding);
  background-color: var(--ofe-api-bg-color);
  border-radius: 0.25rem 0;
  overflow-wrap: break-word;
  position: relative;
  padding-left: calc(var(--ofe-api-header-padding) + var(--ofe-api-arguments-indent));
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt:target::before {
  background-color: var(--pst-color-background);
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > :first-child {
  margin-left: calc(-1 * var(--ofe-api-arguments-indent));
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-prename {
  padding: 0;
  background-color: transparent;
  font-weight: 200;
  font-size: inherit;
  color: var(--ofe-api-path-color);
  display: inline-block;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-name {
  padding: 0;
  background-color: transparent;
  color: var(--ofe-api-name-color);
  font-weight: 600;
  font-size: inherit;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-name ~ .property .pre {
  color: var(--ofe-api-type-color);
  font-style: normal;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-name ~ .property a .pre {
  color: var(--ofe-api-type-link-color);
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-name + a.reference.internal .viewcode-link {
  position: static !important;
  float: right;
  margin-left: 0.5em;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-paren {
  font-size: inherit;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param {
  font-size: inherit;
  font-style: normal;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param > .pre {
  color: var(--ofe-api-param-name-color);
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param > .n > .pre {
  color: var(--ofe-api-param-name-color);
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param > .o > .pre {
  color: var(--ofe-api-param-symbol-color);
  padding-left: 0.2em;
  padding-right: 0.2em;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param .p, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param .p + .n, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param .p + .w + .n {
  font-weight: normal;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param .p .pre, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param .p + .n .pre, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param .p + .w + .n .pre {
  color: var(--ofe-api-type-color);
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param .p a .pre, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param .p + .n a .pre, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param .p + .w + .n a .pre {
  color: var(--ofe-api-type-link-color);
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param > .default_value > .pre {
  color: var(--ofe-api-param-value-color);
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param::before {
  content: "\a";
  white-space: pre;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param a:hover .pre, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param a:hover pre, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .sig-param a:hover code {
  color: var(--pst-color-link-hover);
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .optional::before {
  content: "\a";
  white-space: pre;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > .optional ~ .sig-param::before {
  content: "\a    ";
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt .sig-param + .sig-paren, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt .optional + .sig-paren {
  position: relative;
  left: calc(-1 * var(--ofe-api-arguments-indent));
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt .sig-param + .sig-paren::before, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt .optional + .sig-paren::before {
  content: "\a";
  white-space: pre;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt .sig-param + .sig-paren ~ *:not(a.reference.internal, .headerlink), dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt .optional + .sig-paren ~ *:not(a.reference.internal, .headerlink) {
  position: relative;
  left: calc(-1 * var(--ofe-api-arguments-indent));
  max-width: calc(100% + var(--ofe-api-arguments-indent) - 4em);
  display: inline-block;
  vertical-align: top;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt .sig-param + .sig-paren ~ .headerlink, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt .optional + .sig-paren ~ .headerlink {
  position: absolute;
  bottom: var(--ofe-api-header-padding);
  right: var(--ofe-api-header-padding);
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt .autodoc_pydantic_validator_arrow::before {
  content: "\a";
  white-space: pre;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt .autodoc_pydantic_validator_arrow ~ .property::after {
  content: "\a      ";
  white-space: pre;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt .autodoc_pydantic_validator_arrow ~ .headerlink {
  position: absolute;
  bottom: var(--ofe-api-header-padding);
  right: var(--ofe-api-header-padding);
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt .viewcode-link {
  position: absolute;
  top: var(--ofe-api-header-padding);
  right: var(--ofe-api-header-padding);
  color: var(--ofe-api-source-link-color);
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt .viewcode-link:hover {
  color: var(--pst-color-link-hover);
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dt > a.headerlink {
  font-size: 1em;
  opacity: 1;
  transform: translate(0);
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd {
  margin: 1em;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd:empty {
  padding-bottom: 0 !important;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > .field-list > dd > ul.simple {
  margin-left: 0;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > .field-list > dd > ul.simple:first-child > li {
  list-style: none;
  margin-left: 0;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > .field-list > dd > dl > dt > strong, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > .field-list > dd > ul.simple:first-child > li > p:first-child > strong, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > .field-list > dd > p:first-child > strong {
  font-family: var(--pst-font-family-monospace);
  color: var(--ofe-api-param-name-color);
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > .field-list > dd > dl > dt > .classifier, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > .field-list > dd > ul.simple:first-child > li > p:first-child > .classifier, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > .field-list > dd > p:first-child > .classifier {
  font-family: var(--pst-font-family-monospace);
  color: var(--ofe-api-type-color);
  overflow-wrap: break-word;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > .field-list > dd > dl > dt > a.reference > em, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > .field-list > dd > ul.simple:first-child > li > p:first-child > a.reference > em, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > .field-list > dd > p:first-child > a.reference > em {
  font-family: var(--pst-font-family-monospace);
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > .field-list > dd > dl > dt > strong::after {
  content: ": ";
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > .field-list > dd > dl > dd, dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > .field-list > dd > ul.simple:first-child > li > p:not(:first-child) {
  margin-top: 0;
  margin-bottom: 0.5em;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] {
  padding-bottom: 0;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
  border: none;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd > dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] > dd {
  margin-right: 1.5em;
  margin-left: 1.5em;
  padding-bottom: 0.75em;
}
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] p {
  hyphens: none;
  text-align: unset;
}

.pydantic_field .sig > .sig-name + .property:not(:last-of-type) a {
  font-weight: bold;
}
.pydantic_field .sig > .sig-name + .property:not(:last-of-type) .pre {
  color: var(--ofe-api-type-color);
}

details.autodoc_pydantic_collapsable_json > summary {
  max-width: 42.5rem;
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.viewcode-back {
  float: right;
  color: var(--ofe-api-source-link-color);
}

/*# sourceMappingURL=custom-api.css.map */
