// The Numpydoc API layout

html {
    --ofe-api-name-color: var(--pst-color-inline-code);
    --ofe-api-property-color: var(--pst-color-text-muted);
    --ofe-api-path-color: var(--pst-color-text-base);
    --ofe-api-bg-color: var(--pst-color-on-background);
    --ofe-api-param-symbol-color: var(--pst-color-text-base);
    --ofe-api-param-name-color: var(--pst-color-text-base);
    --ofe-api-param-value-color: var(--pst-color-text-base);
    --ofe-api-type-color: var(--pst-color-text-base);
    --ofe-api-type-link-color: var(--pst-color-link);
    --ofe-api-source-link-color: var(--pst-color-link);

    --ofe-api-header-font-size: 1.1rem;
    --ofe-api-header-padding: var(--ofe-api-header-font-size);
    --ofe-api-arguments-indent: calc(2 * var(--ofe-api-header-padding));
}

// Definition of an object. Hopefully.
// Could also use dl.py, but this would fail
// if we ever wanted to document something that
// isn't Python
// RTD does it like this, but with fewer exceptions, so
// we should be OK
dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] {
    padding-bottom: 0.5em;
    border: 1px solid var(--pst-color-border);
    border-radius: .25rem;

    // Text specifying class, function, method, pydantic model, etc.
    // Usually present in the .property class, but if it's missing
    // we can insert it
    > dt {
        > *:not(.property):first-child::before, > .property {
            color: var(--ofe-api-property-color);
            font-size: inherit;
            font-weight: normal;
            font-style: italic;
        }
    }
    &.attribute > dt > *:not(.property):first-child::before {
        content: "attribute ";
    }
    &.method > dt > *:not(.property):first-child::before {
        content: "method ";
    }
    &.function > dt > *:not(.property):first-child::before {
        content: "function ";
    }


    // Header and signature
    > dt {
        font-family: var(--pst-font-family-monospace);
        font-size: var(--ofe-api-header-font-size);
        padding: var(--ofe-api-header-padding);
        background-color: var(--ofe-api-bg-color);
        border-radius: .25rem 0;
        // Allow words to break anywhere, if necessary
        overflow-wrap: break-word;
        // Position relative so we can absolutely position source link
        position: relative;
        &:target {
            &::before {
                background-color: var(--pst-color-background);
            }
        }

        // Indent the argument list
        padding-left: calc(var(--ofe-api-header-padding) + var(--ofe-api-arguments-indent));
        > :first-child {
            margin-left: calc(-1 * var(--ofe-api-arguments-indent));
        }

        // Text providing path to the object
        > .sig-prename {
            padding: 0;
            background-color: transparent;
            font-weight: 200;
            font-size: inherit;
            color: var(--ofe-api-path-color);
            display: inline-block;
        }
        // Text providing the name of the object
        > .sig-name {
            padding: 0;
            background-color: transparent;
            color: var(--ofe-api-name-color);
            font-weight: 600;
            font-size: inherit;
            // autodoc_pydantic produces types as properties _after_ the sig name
            ~ .property .pre {
                color: var(--ofe-api-type-color);
                font-style: normal;
            }
            ~ .property a .pre {
                color: var(--ofe-api-type-link-color);
            }

            // If the source link immediately follows the name, don't position it absolutely
            + a.reference.internal .viewcode-link {
                position: static !important;
                float: right;
                margin-left: 0.5em;
            }
        }
        // Opening and closing parenthesis
        > .sig-paren {
            font-size: inherit;

        }
        // Each parameter
        > .sig-param {
            font-size: inherit;
            font-style: normal;
            // Entire parameter if parsing the parameter has failed. Splits on commas
            > .pre {
                color: var(--ofe-api-param-name-color);
            }
            // Name of a parameter
            > .n > .pre {
                color: var(--ofe-api-param-name-color);
            }
            // Symbols; equals sign, asterisk, etc
            > .o > .pre {
                color: var(--ofe-api-param-symbol-color);
                padding-left: 0.2em;
                padding-right: 0.2em;
            }
            // Type anotation
            .p, .p + .n, .p + .w + .n {
                font-weight: normal;
                .pre {
                    color: var(--ofe-api-type-color);
                }
                a .pre {
                    color: var(--ofe-api-type-link-color);
                }
            }
            // Default values of arguments
            > .default_value > .pre {
                color: var(--ofe-api-param-value-color);
            }
            // After each parameter, newline
            &::before {
                content: "\a";
                white-space: pre;
            }
            // Links
            a {
                &:hover {
                    .pre, pre, code {
                        color: var(--pst-color-link-hover);
                    }
                }
            }
        }
        // Brackets [] denoting optional arguments
        // This is redundant information and I am displeased to have to support it
        > .optional {
            // Put optional [] brackets on their own lines
            &::before {
                content: "\a";
                white-space: pre;
            }
            // Optional parameters need extra indentation
            ~ .sig-param::before {
                content: "\a    ";
            }
        }
        // Closing parenthesis
        .sig-param, .optional {
            + .sig-paren {
                &::before {
                    content: "\a";
                    white-space: pre;
                }

                // Unindent closing paren, and everything following (except source link)
                position: relative;
                left: calc(-1 * var(--ofe-api-arguments-indent));
                ~*:not(a.reference.internal, .headerlink) {
                    position: relative;
                    left: calc(-1 * var(--ofe-api-arguments-indent));
                    max-width: calc(100% + #{var(--ofe-api-arguments-indent)} - 4em);
                    display: inline-block;
                    vertical-align: top;
                }
                ~ .headerlink {
                    position: absolute;
                    bottom: var(--ofe-api-header-padding);
                    right: var(--ofe-api-header-padding);
                }
            }
        }
        // Pydantic validator arrow
        .autodoc_pydantic_validator_arrow {
            &::before {
                content: "\a";
                white-space: pre;
            }
            // Comma separating validated fields
            ~ .property {
                &::after {
                    content: "\a      ";
                    white-space: pre;
                }
            }
            ~ .headerlink {
                position: absolute;
                bottom: var(--ofe-api-header-padding);
                right: var(--ofe-api-header-padding);
            }
        }
        // Link to the source code for the object (not present on inherited objects)
        .viewcode-link {
            position: absolute;
            top: var(--ofe-api-header-padding);
            right: var(--ofe-api-header-padding);
            color: var(--ofe-api-source-link-color);
            &:hover {
                color: var(--pst-color-link-hover);
            }
        }
        // Permalink to the object (to here)
        > a.headerlink {
            font-size: 1em;
            opacity: 1;
            transform: translate(0);
        }
    }
    // Content
    >dd {
        margin: 1em;
        &:empty {
            padding-bottom: 0 !important;
        }
        // Description/docstring
        >p {

        }
        // JSON schema for pydantic stuff
        >.autodoc_pydantic_collapsable_json {
        }
        // Parameters, Returns, Other Parameters, Raises sections
        >.field-list {
            // Headings
            >dt {
                @extend .rubric;
            }
            // Content
            >dd {
                >ul.simple {
                    margin-left: 0;
                }
                >ul.simple:first-child>li {
                    list-style: none;
                    margin-left: 0;
                }
                >dl>dt, >ul.simple:first-child>li>p:first-child, >p:first-child {
                    // Name of the parameter or return value
                    >strong {
                        font-family: var(--pst-font-family-monospace);
                        color: var(--ofe-api-param-name-color);
                    }
                    // Type of the parameter, or type of a named return value
                    >.classifier {
                        font-family: var(--pst-font-family-monospace);
                        color: var(--ofe-api-type-color);
                        overflow-wrap: break-word;
                    }
                    >a.reference>em {
                        font-family: var(--pst-font-family-monospace);
                    }
                }
                >dl>dt>strong::after {
                    content: ": ";
                }
                // Description of the parameter, return value, or exception
                >dl>dd, >ul.simple:first-child>li>p:not(:first-child) {
                    margin-top: 0;
                    margin-bottom: 0.5em;
                }
            }
        }
        // Notes, References, Methods, Attributes, and Examples headings
        >.rubric {

        }
        // Reference list (bibliography)
        >dl.citation {

        }
        // Doctests - already nicely formatted!
        >.doctest {

        }
        // Tables of methods, attributes, classes, etc.
        // Should probably style this globally so it captures the same tables in autosummary directives
        >.longtable.docutils {
            // A row of the table
            tr {
                //An odd row
                *.row-odd {

                }
                //An even row
                *.row-even {

                }
                // An entry on the LHS of the table - link to another object + possibly a signature
                // Signature is a direct child of this element
                td:first-child {
                    // May need to style everything in td:first-child, then re-overwrite things here
                    a.reference code {

                    }
                }
                // An entry on the RHS of the table - description
                td:last-child {

                }

            }

        }
        // Child object - recapitulates structure above
        >dl:not(.docutils):not(.field-list):not(.simple):not(.citation):not(.option-list):not(.footnote)[class] {
            padding-bottom: 0;
            box-shadow: 0 4px 5px  0   rgba(black, .14),
                        0 1px 10px 0   rgba(black, .12),
                        0 2px 4px -1px rgba(black, .40);
            border-radius: .25rem;
            border: none;
            // Inner object body
            > dd {
                margin-right: 1.5em;
                margin-left: 1.5em;
                padding-bottom: 0.75em;
            }
        }
    }

    // Don't justify/hyphenate in API
    // Undoes styling found by searching "@if hyphenate" in sphinx-api.scss
    p {
        hyphens: none;
        text-align: unset;
    }
}

// Pydantic fields have their own stuff going on
// We still want types to be the right colour
// This works as long as the type annotation is defined,
// but can cause the field's name to be recoloured if eg no
// type is defined and the field has an alias
.pydantic_field .sig {
    > .sig-name + .property:not(:last-of-type) {
        a {
            font-weight: bold;
        }
        .pre {
            color: var(--ofe-api-type-color);
        }
    }
}

details.autodoc_pydantic_collapsable_json > summary {
    max-width: 42.5rem;
    margin-left: auto;
    margin-right: auto;
}

// Break headings wherever, if necessary
h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

// Docs button in source on right
.viewcode-back {
  float: right;
  color: var(--ofe-api-source-link-color);
}
