:root {
    --arrow-thickness: 4px;
    --arrow-head-size: 7px;
    --arrow-length: 2em;
    --arrow-color: var(--pst-color-text-muted);
    --deflist-def-bg-color: var(--pst-color-surface);
}
.arrow.thick {
    --arrow-thickness: 6px;
    --arrow-head-size: 10px;
}

.deflist-flowchart ul,
ul.deflist-flowchart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  grid-column-gap: 1em;
  margin: 0;
  padding: 0;
}

.deflist-flowchart {
  margin: 1em 0;

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  li,
  li ul
  {
    margin: 0;
    padding: 0;
  }

  li:empty:not([class])
  {
    display: None;
  }

  li {
    list-style: none;
  }

  .arrow-down,
  .arrow-up,
  .arrow-cycle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--arrow-length);
    height: 100%;
    margin: 0.75em auto;
    width: fit-content;
    position: relative;
    z-index: 1;
    text-shadow: var(--pst-color-background) 0 0 10px;
    padding: 0;
  }

  .arrow-down,
  .arrow-cycle {
    padding-bottom: var(--arrow-head-size);
  }

  .arrow-up,
  .arrow-cycle {
    padding-top: var(--arrow-head-size);
  }


  .arrow-down::after,
  .arrow-up::after,
  .arrow-cycle::after,
  .arrow-cycle::before
  {
    --actual-arrow-length: max(var(--arrow-length), 100%);
    height: calc(var(--actual-arrow-length)/1.4142);
    width: auto;
    aspect-ratio: 1;
    content: "";
    padding: 0;
    display: inline-block;
    transform: rotate(45deg);
    background-image:
      linear-gradient(
        45deg,
        transparent calc(50% - var(--arrow-thickness)/2),
        var(--arrow-color) calc(50% - var(--arrow-thickness)/2),
        var(--arrow-color) calc(50% + var(--arrow-thickness)/2),
        transparent calc(50% + var(--arrow-thickness)/2)
      ),
      linear-gradient(
        -45deg,
        var(--arrow-color) var(--arrow-head-size),
        transparent var(--arrow-head-size)
      );
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 0 0;
    z-index: -1;
  }

  .arrow-cycle::after,
  .arrow-cycle::before
  {
    margin: 0 calc(-0.5 * var(--arrow-length)/1.4142 + 10px);
    margin-top: calc(var(--arrow-length) / 7);
  }

  .arrow-up::after,
  .arrow-cycle::before
  {
    transform: rotate(-135deg);
  }

  dl {
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
  }
  dt {
    display: inline-block;
    writing-mode: vertical-rl;
    margin-top: .25rem;
    flex-grow: 0;
  }
  dd {
    text-align: center;
    position: relative;
    border: 1px solid var(--pst-color-border);
    border-radius: .25rem;
    padding: 0.5em;
    margin: 0;
    display: inline-block;
    flex-grow: 1;
  }

  dd dl {
    background-color: var(--deflist-def-bg-color);
    border-radius: 4px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14),
                0 1px 18px 0 rgba(0,0,0,0.12),
                0 3px 5px -1px rgba(0,0,0,0.4);
    display: block;
    margin: 0.5em 0;
  }
  dd dt {
    writing-mode: horizontal-tb;
    display: block;
    margin-top: 0;
  }
  dd dd {
    border: none;
    display: block;
  }

  dl a {
    font-weight: bold;
  }

  .flowchart-sidebyside, div.flowchart-sidebyside > ul:only-child {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    > .flowchart-narrow {
      flex: 0;
      min-width: 200px;
    }
    > * {
      flex: 1;
    }
  }
}