name: openfe-docs
channels:
- https://conda.anaconda.org/jaimergp/label/unsupported-cudatoolkit-shim
- https://conda.anaconda.org/conda-forge
dependencies:
- autodoc-pydantic<2.0
- lomap2>=3.0.0
- kartograf>=1.0.0
- openff-models>=0.0.5
- openff-toolkit >=0.13.0
- openff-units
- openmm
- packaging
- plugcli
- python=3.10
- sphinx<7
- sphinx-click
- gitpython
- tqdm
- libsass
- nbsphinx
- nbsphinx-link
- myst-parser
- pip:
  - sphinx-design
  - sphinx-toolbox
  - sphinx<7
  - git+https://github.com/OpenFreeEnergy/gufe@main
  - git+https://github.com/OpenFreeEnergy/ofe-sphinx-theme@a45f3edd5bc3e973c1a01b577c71efa1b62a65d6

# These are added automatically by RTD, so we include them here 
# for a consistent environment.
- mock
- pillow
- sphinx
- sphinx_rtd_theme
