name: openfe-docs
channels:
- https://conda.anaconda.org/jaimergp/label/unsupported-cudatoolkit-shim
- https://conda.anaconda.org/conda-forge
dependencies:
- autodoc-pydantic
- openff-models>=0.0.5
- openff-toolkit >=0.13.0
- openff-units
- openmm
- packaging
- plugcli
- pydata-sphinx-theme
- python=3.9
- sphinx
- sphinx-click
- tqdm
- libsass
- pip:
  - sphinx-design
  - sphinx-toolbox
  - git+https://github.com/OpenFreeEnergy/gufe@main
