name: "conda_cron"
on:
  workflow_dispatch:
  schedule:
    # At 05:00 UTC every day
    - cron: "0 5 * * *"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

defaults:
  run:
    shell: bash -leo pipefail {0}

jobs:
  condacheck:
    runs-on: ${{ matrix.OS }}
    name: "daily conda check"
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"
        include:
        - os: "macos-latest"
          python-version: "3.12"
          openeye: "no"
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: openfe_repo

      - name: Get Latest Version
        id: latest-version
        working-directory: openfe_repo
        run: |
          LATEST_TAG=$(git describe --tags $(git rev-list --tags --max-count=1))
          # slice off the v, ie v0.7.2 -> 0.7.2
          VERSION=${LATEST_TAG:1}
          echo $VERSION
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

      - name: Setup Micromamba and Install openfe
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-name: openfe
          create-args: >-
            python=${{ matrix.python-version }}
            openfe=${{ steps.latest-version.outputs.VERSION }}
            pytest
            pytest-xdist
          condarc: |
            channels:
              - conda-forge
          init-shell: bash


      - name: "env info"
        run: |
          micromamba info
          micromamba list

      - id: run-tests
        name: "Run tests"
        run: |
          # note: this only runs the fast tests
          pytest -n auto --pyargs openfe openfecli
